@import "./style.scss";

.nan-dialog-overlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // width: 100vw;
  height: 100%;
  background: rgba(0,0,0,.3);
  z-index: 200;
}

.nan-dialog{
  position: relative;
  background-color: #fff;
  border-radius: $border-radius-sm;
  box-shadow: 0 0px 3px fade_out(black, 0.5);
  min-width: 15em;
  width: 50%;
  padding: 5px;
  z-index: 2005;
  &-header{
    padding: 20px 20px 10px;
 
    display: flex;
    justify-content: space-between;
    align-items: center;
    // border-bottom: 1px solid $gray-500;
  }
  &-title{
    line-height: 24px;
    font-size: 20px;
    color: #303133;
    font-weight: 600;
  }
  &-close{
    outline: none;
    // position: absolute;
    // top: 20px;
    // right: 20px;
    border: none;
    background: transparent;
    cursor: pointer;
    &:hover{
      color:#0d6efd
    }
  }
  &-body{
    padding: 12px 16px;
  }
  &-footer{
    text-align: right;
    padding: 10px 20px 10px;
    // border-top: 1px solid $gray-500;
  }
  &-wrapper {
    position: relative;
    // margin-top: 15vh;
    width: 30%;
    margin: 15vh auto 50px;
    // position: fixed;
    // left: 50%;
    // top: 50%;
    // transform: translate(-50%, -50%);
    // z-index: 2001;
  }
}


.dialog-fade-enter-active {
  animation: modal-fade-in 0.3s !important;
  .nan-dialog-wrapper {
    animation: dialog-fade-in 0.3s;
  }
}

.dialog-fade-leave-active {
  animation: modal-fade-out 0.3s;
  .nan-dialog-wrapper {
    animation: dialog-fade-out 0.3s;
  }
}

@keyframes dialog-fade-in {
  0% {
    transform: translate3d(0, -20px, 0) scale(0.5);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
  }
}

@keyframes dialog-fade-out {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    transform: translate3d(0, -20px, 0) scale(0.5);
    opacity: 0;
  }
}

@keyframes modal-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes modal-fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}