.nan-tabs {
  &-bar{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: #409eff;
    z-index: 1;
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    list-style: none;
  }
  &-nav {
    display: flex;
    color: #333;
    position: relative;
    &::after{
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      border-bottom: 1px solid #e4e7ed;
    }
    &-item {
      padding: 0 20px;
    height: 40px;
    box-sizing: border-box;
    line-height: 40px;
    display: inline-block;
    list-style: none;
    font-size: 14px;
    font-weight: 500;
    color: #303133;
    position: relative;
      cursor: pointer;
      &:nth-child(2){
        padding-left: 0;
      }
      &:hover{
        color: #409eff;
      }

      &:first-child {
        margin-left: 0;
      }

    }
    .is-active {
      color: #409eff;
    }
    .is-disabled {
      color: #ccc;
      cursor: default;
    }
    &-indicator {
      position: absolute;
      height: 3px;
      background: #409eff;
      left: 0;
      bottom: -1px;
      transition: all 0.25s cubic-bezier(1, 1.67, 0.21, 0.84);
    }
  }
  &-content {
    padding: 20px 8px;
  }
  @keyframes kaite-spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes button-hover {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-3px);
    }
  }
}